.morecontent span {
    display: none; 
}
.morelink{
    display: inline-block; 
}
.pagination ul {
    background-color: #455a64;
    border: 1px solid #495e68;
    border-radius: 10px;
    box-shadow: 1px 0 2px;
    list-style: outside none none;
    margin: auto;
    padding: 0 !important;
}
.pagination ul li {
    display: inline-block;
    padding: 0;
    margin:0;
}
.pagination ul li a{
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
/*.pagination ul li:nth-child(3),.pagination ul li:nth-child(4){
    background-color: #e0f7fa;
    padding:0 3px;
}
.pagination ul li:nth-child(3) a,.pagination ul li:nth-child(4) a{
    color: #000;
    padding: 0 5px !important;
    text-shadow: 1px 1px 1px;
}*/